{% extends 'main_base.html'%}

{% block title %}staff{% endblock %}

{% block content%}
<h1 class="text-center">Staff Details</h1>
    <table class="container table table-dark table-stripped text-center">
        <tr>
            <th>STAFF NAME</th>
            <th>STAFF EMAIL</th>
            <th>STAFF PHONE NO.</th>
        <tr>
        {% for i in  customer %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phno}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock%}